@media only screen and (min-width: 100px) and (max-width: 1920px) {}
@media only screen and (min-width: 100px) and (max-width: 1550px) {}
@media only screen and (min-width: 100px) and (max-width: 1366px) {
    .prev-arrow {
        left: 460px;
    }
    
    .next-arrow {
        left: 520px;
    }
    .footer-links {
        margin: 0 100px;
    }
}
@media only screen and (min-width: 100px) and (max-width: 1200px) {
    .tabs-image img {
        width: 410px;
    }
    .prev-arrow {
        left: 450px;
        top: 510px;
    }
    
    .next-arrow {
        top: 510px;
        left: 501px;
    }
    .footer-links {
        margin: 0 90px;
    }
    .pask-img {
        margin: 40px 21px;
    }
}

@media only screen and (min-width: 100px) and (max-width: 1199px) {
    .trust-piolet-logo img {
        max-height: 56px;
    }
    .swiper.mySwiper3.swiper-initialized.swiper-horizontal.swiper-backface-hidden {
        padding: 60px 0;
    }
    .swiper.mySwiper3.swiper-initialized.swiper-horizontal.swiper-backface-hidden {
        padding: 60px 0;
    }
    
    .about-innercon p {
        width: inherit;
        font-size: 18px;
    }
    .get-start-btn.reg a {
        font-size: 14px;
    }
    
    .main-card h6 {
        font-size: 18px;
    }
    .get-start-btn.reg a {
        font-size: 14px;
    }
    
    .main-card h6 {
        font-size: 18px;
    }
    
    .inner-sign-con p {
        font-size: 15px;
    }
    .count-1 span {
        font-size: 55px;
    }
    .slider-con p {
        width: unset;
        font-size: 17px;
    }
    .silder-con {
        width: inherit;
    }
    .next-arrow {
        left: 420px;
        top: 473px;
    }
    .prev-arrow {
        left: 368px;
        top: 472px;
    }
    .footer-links {
        margin: 0 30px;
    }
    .footer-item-1 p {
        width: inherit;
    }
    .trust-piolet-card p {
        font-size: 22px;
    }
}
@media only screen and (min-width: 100px) and (max-width: 1024px) {

}
@media only screen and (min-width: 100px) and (max-width: 992px) {
    .tabs-image img {
        width: 380px;
    }
    .trust-piolet-con h1 {
        width: inherit;
    }
    
    .footer-links {
        flex-wrap: wrap;
    }
}



@media only screen and (min-width: 100px) and (max-width: 991px) {
    .silder-img img {
        display: none;
    }
    
    .slider-con {
        width: inherit;
        margin: 30px 40px;
    }
    .header-btn a {
        display: none;
    }
    .humburger.d-lg-none.d-block {
        position: absolute;
        left: 890px;
        width: 0;
        }
    
}
@media only screen and (min-width: 100px) and (max-width: 767px) {
    .silder-img img {
        display: none;
    }
    
    .slider-con {
        width: inherit;
        margin: 30px 40px;
    }
    
    .prev-arrow {
        left: 0;
        top: 411px;
    }
    
    .next-arrow {
        top: 410px;
        left: 70px;
    }
    .trust-piolet-logo img {
        max-height: 56px;
    }
    .swiper.mySwiper3.swiper-initialized.swiper-horizontal.swiper-backface-hidden {
        padding: 60px 0;
    }
    .swiper.mySwiper3.swiper-initialized.swiper-horizontal.swiper-backface-hidden {
        padding: 60px 0;
    }
    
    .about-innercon p {
        width: inherit;
        font-size: 18px;
    }
    .get-start-btn.reg a {
        font-size: 14px;
    }
    
    .main-card h6 {
        font-size: 18px;
    }
    .get-start-btn.reg a {
        font-size: 14px;
    }
    
    .main-card h6 {
        font-size: 18px;
    }
    
    .inner-sign-con p {
        font-size: 15px;
    }
    .count-1 span {
        font-size: 55px;
    }
    .slider-con p {
        width: unset;
        font-size: 17px;
    }
    .silder-con {
        width: inherit;
    }
    .next-arrow {
        left: 420px;
        top: 473px;
    }
    .prev-arrow {
        left: 368px;
        top: 472px;
    }
    .footer-links {
        margin: 0 30px;
    }
    .footer-item-1 p {
        width: inherit;
    }
    .trust-piolet-card p {
        font-size: 22px;
    }                   
    .banner-con p {
        width: inherit;
    }
    
    .banner-con h1 {
        width: inherit;
    }
    
    .about-con p {
        width: inherit;
    }
    
    .tabs-innercon p {
        width: inherit;
    }
    .nav-links nav >ul {
        display: none;
    }
    
    .header-btn a {
        display: none;
    }
    .humburger.d-lg-none.d-block {
        left: 400px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 940px) {
    .humburger.d-lg-none.d-block {
        left: 660px;
    }
}



@media only screen and (min-width: 100px) and (max-width: 475px) {
    .banner-con p {
        width: inherit;
    }
    
    .banner-con h1 {
        width: inherit;
        font-size: 28px;
        line-height: 30px;
    }
    
    .about-con p {
        width: inherit;
    }
    
    .tabs-innercon p {
        width: inherit;
    }
    .nav-links nav >ul {
        display: none;
    }
    
    .header-btn a {
        display: none;
    }
    .tabs-main-con h2 {
        width: inherit;
    }
    .nav-links nav >ul {
        display: none;
    }
    
    .header-btn a {
        display: none;
    }
    .banner-links ul li {
        font-size: 17px;
    }
    .about-con h6 {
        font-size: 27px;
    }
    ul#myTab {
        display: flex;
        flex-wrap: nowrap;
        overflow-y: hidden;
    }
    .card-top-con h1 {
        font-size: 23px;
        text-align: center;
    }
    
    .trust-piolet-logo img {
        max-height: 43px;
    }
    .trust-piolet-con h1 {
        font-size: 20px;
    }
    .trust-piolet-card p {
        font-size: 17px;
    }
    
    .trust-piolet-card {
        padding: 20px 20px;
    }
    .testimonail-sec h6 {
        font-size: 26px;
    }
    .count-1 span {
        font-size: 46px;
    }
    
    .count-1 p {
        margin: 12px 0;
        font-size: 15px;
    }
    .card-top-con p {
        text-align: center;
        font-size: 15px;
    }
    .service-con h1 {
        font-size: 30px;
    }
    .humburger.d-lg-none.d-block {
    position: absolute;
    left: 262px;
    top: 50px;
    }
    img.header-logo {
        position: absolute;
    }
    header.main-header {
        padding: 50px 0;
    }
    .humburger.d-lg-none.d-block {
        left: 270px;
    }
}
@media only screen and (min-width: 100px) and (max-width: 450px) {
    .tabs-main-con h2 {
        width: inherit;
        font-size: 22px;
    }
    .nav-links nav >ul {
        display: none;
    }
    
    .header-btn a {
        display: none;
    }
    .trade-regist-con {
        width: 297px;
        left: 8px;
        top: 30px;
    }
    .inner-con h6 {
        font-size: 24px;
    }
}
@media only screen and (min-width: 100px) and (max-width: 351px) {
    .tabs-image img {
        width: 90%;
    }
}
@media only screen and (min-width: 100px) and (max-width: 375px) {
    .nav-links nav >ul {
        display: none;
    }
    
    .header-btn a {
        display: none;
    }
}
@media only screen and (min-width: 100px) and (max-width: 350px) {
    .tabs-image img {
        width: 300px;
    }
    .nav-links nav >ul {
        display: none;
    }
    
    .header-btn a {
        display: none;
    }
}